body{
    background: lightblue;
}
.parent{
    position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  /* overflow: hidden; */
  background: white;
  margin: 18px;
  padding: 18px;
  
  

}

img{
    width: 250px;
    border-radius: 5px;
    position: relative;
    right: -0.1rem;
}
h1{
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 600;
    
}
h3{
    font-family: "Poppins",sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: grey;
}
.hh3{
    font-family: "Poppins",sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: grey;
    position: relative;
    top: -0.8rem;
    right: -2.9rem;

}